name: Swift-LLD-framework
run-name: Build LLD xcframework 
on: [push]
jobs:  
  macos-x86:
    permissions: write-all
    runs-on: macos-15
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: build-x86
        run: |
          cd ${{ github.workspace }}
          sh build_x86.sh      
      - name: Test
        run: |
          ls dist/macos-x86
          pwd dist/macos-x86
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4.4.3
        with:
          name: llvm-x86
            # A file, directory or wildcard pattern that describes what to upload
          path: ${{ github.workspace }}/dist  
  macos-arm:
    permissions: write-all
    runs-on: macos-15
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: build-arm
        run: |
          cd ${{ github.workspace }}
          sh build.sh          
      - name: Test
        run: |
          ls dist/macos
          pwd dist/macos
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4.4.3
        with:
          name: llvm
            # A file, directory or wildcard pattern that describes what to upload
          path: ${{ github.workspace }}/dist                             
      # - name: Release
      #   uses: softprops/action-gh-release@v2        
      #   with:
      #     tag_name: v18.1.8
      #     files: |
      #       ${{ github.workspace }}/dist/macos/liblldWasm.xcframework
      #       ${{ github.workspace }}/dist/macos/liblldCOFF.xcframework
      #       ${{ github.workspace }}/dist/macos/liblldELF.xcframework
      #       ${{ github.workspace }}/dist/macos/liblldMachO.xcframework
      #       ${{ github.workspace }}/dist/macos/liblldMinGW.xcframework
      #       ${{ github.workspace }}/dist/macos-x86/liblldWasm.xcframework
      #       ${{ github.workspace }}/dist/macos-x86/liblldCOFF.xcframework
      #       ${{ github.workspace }}/dist/macos-x86/liblldELF.xcframework
      #       ${{ github.workspace }}/dist/macos-x86/liblldMachO.xcframework
